@import forms.RegistrationForm
@import play.data.Form

@(form : Form [RegistrationForm])

@main("REGISTRATION") {

<form action="@routes.RegistrationController.sendRegistration()" method="POST">
    <div>
        <label for='@form("firstName").id'>First Name</label>
        <input id='@form("firstName").id' type="text" name='@form("firstName").name' value='@form("firstName").value'>
        @if(form("firstName").hasErrors){
        @for(error <- form("firstName").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>
    <div>
        <label for='@form("lastName").id'>Last Name</label>
        <input id='@form("lastName").id' type="text" name='@form("lastName").name' value='@form("lastName").value'>
        @if(form("lastName").hasErrors){
        @for(error <- form("lastName").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>
    <div>
        <label for='@form("birthday").id'>Birthday</label>
        <input id='@form("birthday").id' type="text" name='@form("birthday").name' value='@form("birthday").value'>
        @if(form("birthday").hasErrors){
        @for(error <- form("birthday").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>

    <div>
        <label for='@form("gender").id'>Gender</label>
        <select id='@form("gender").id' name='@form("gender").name'>
            <option value="Male"> Male  </option>
            <option value="Female">  Female  </option>
            <option value="Middle"> I've no IDEA </option>
        </select>
        @if(form("gender").hasErrors){
        @for(error <- form("gender").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>

    <div>
        <label for='@form("email").id'>  Email </label>
        <input id='@form("email").id' type="text" name='@form("email").name' value='@form("email").value'>
        @if(form("email").hasErrors){
        @for(error <- form("email").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>
    <div>
        <label for='@form("password").id'>   Password </label>
        <input id='@form("password").id' type="password" name='@form("password").name' value='@form("password").value'>
        @if(form("password").hasErrors){
        @for(error <- form("password").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>

    <div>
        <label for='@form("confirmPassword").id'>  Confirm Password </label>
        <input id='@form("confirmPassword").id' type="password" name='@form("confirmPassword").name' value='@form("confirmPassword").value'>
        @if(form("confirmPassword").hasErrors){
        @for(error <- form("confirmPassword").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>

    @if(form.hasGlobalErrors){
    @for(error <- form.globalErrors){
    <div style="color: red">@error.message</div>
    }
    }

    <input type="submit" value="SUBMIT">
</form>


}