@()

@main("input Form for Colors") {


<h4>  Please fill the following fields </h4>

<form id="color_change" action="/color" method="POST">
    <div>
        <label for='color'>  color </label>
        <input id='color' type="text" name='color'>
    </div>
    <div>
        <label for='shade'> shade </label>
        <input id='shade' type="text" name='shade'>
    </div>
    <input type="submit" value="submit" />
</form>
}