@(firstName: String, lastName: String)

@main("Sending POST Parameters") {


<H1> TASK 1.1 -  Sending GET Parameters First Name , Last Name </H1>

<a href="@routes.Task1Controller.message()">  to Task 1 Page   </a>

<div>   Your First Name is @firstName and your Last name is @lastName </div>
}


