@()

@main("it's first task") {


<h4>  Please fill the following fields </h4>

<form id="userName" action="/task1.1" method="POST">
    <div>
        <label for='firstName'>First Name</label>
        <input id='firstName' type="text" name='firstName'>
    </div>
    <div>
        <label for='lastName'>Last Name</label>
        <input id='lastName' type="text" name='lastName'>
    </div>
    <input type="submit" value="submit" />
</form>


}


