@(message: String)

@main("Welcome to Play") {

    @* @play20.welcome(message, style = "Java") *@

   <div>
       <div>task #1</div>
       <a href='@routes.HomeController.test("Elmar", 25)'>who i am?</a>
       <br>
       <br>
       <br>

       <div>task #2</div>
       <a href='@routes.HomeController.task2("black", "globe")'> GET Black Globe </a>
       <br>
       <br>
       <br>

       <div>task #3</div>
       <form action="@routes.HomeController.task3()" method="POST">
           <input type="text" name="number_1" pattern="^[0-9]*$"/>
           <select name="action">
               <option value="+">+</option>
               <option value="-">-</option>
               <option value="*">*</option>
               <option value="/">/</option>
           </select>
           <input type="text" name="number_2" pattern="^[0-9]*$"/>

           <input type="submit" value="submit">
       </form>
       @if(message != null){
       <br><br><br>
       <div style="color: red">@message</div>
       }

       <div> task #4 </div>
       <form action="@routes.HomeController.task4()" method="POST" >
            <input type="text" name="animal_name" value="khgfh">
            <input type="text" name="animal_size" pattern="[0-9]+([\.,][0-9]+)?">
            <input type="text" name = "color">
            <input type="submit" value="Submit">
       </form>
       <br><br><br>

       <div>  Task #5  </div>
       <form action="@routes.Task5Controller.task5()" method="POST">
           <input type="text" name = "animal_name" value = "King Kong">
           <input type="text" name = "animal_size" pattern="0-9]+([\.,][0-9]+)?">
           <input type="text" name = "color">
           <input type="submit" value="Submit">
       </form>
       <br><br><br>

       <a href="@routes.Task6Controller.task6">   to Task 6  </a>

       <br><br><br>


       <a href="@routes.RegistrationController.registration"> to Registration Page  </a>


   </div>
}
