@import forms.LoginForm
@import play.data.Form

@(form : Form [LoginForm])

@main("Login Page") {

<form action="@routes.LoginController.authorise()" method="POST">
    <div>
        <label for='@form("email").id'>Login</label>
        <input id='@form("email").id' type="text" name='@form("email").name' value='@form("email").value'>
        @if(form("email").hasErrors){
        @for(error <- form("email").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>
    <div>
        <label for='@form("password").id'>Password</label>
        <input id='@form("password").id' type="password" name='@form("password").name' value='@form("password").value'>
        @if(form("password").hasErrors){
        @for(error <- form("password").errors){
        <div style="color: red">@error.message</div>
        }
        }
    </div>

    @if(form.hasGlobalErrors){
        @for(error <- form.globalErrors){
            <div style="color: red">@error.message</div>
        }
    }

    <input type="submit" value="log in">
</form>
}