@(animal_name: String, animal_size :Double, color: String)

@main("Task 4."){

<H1>
    TASK #4  The View of Animal Size and Color
</H1>

<a href="@routes.HomeController.index"> To Main Page  </a>

    <div> Your animal Name is  @animal_name and Animal's Size is @animal_size and Animal's Color is @color </div>
}