@(animal_name : String, animal_size : Double, color : String)


@main ("Task #5") {

<H1> TASK #5 the Animal's Name and the Size and the color </H1>


<br>


<a href="@routes.HomeController.index"> To Main Page  </a>


<br>

<div> Your Selected Animals' Name is @animal_name and its size is @animal_size , its color is @color </div>

}