
@(color: String, figure: String)



@main("task 2 Doing work") {

<H1>task #2</H1>
<a href="@routes.HomeController.index()">to Main Page</a>
<div> Your figure is @figure and its color is @color </div>




}