@(number_1: Double, number_2 :Double, action: String, result:Double)

@main("Task 3."){

    <H1>
        TASK #3  Multiplication of 2 numbers  POST Request
    </H1>

    <a href="@routes.HomeController.index"> To Main Page  </a>

    <div>  @number_1 @action @number_2 = @result </div>
}