@import forms.LoginForm
@import play.data.Form
@(form : Form[LoginForm])


@main("Task #5"){

    <form action="@routes.Task6Controller.login()" method="POST">
        <div>
            <label for='@form("login").id'>Login</label>
            <input id='@form("login").id' type="text" name='@form("login").name' value='@form("login").value'>
            @if(form("login").hasErrors){
                @for(error <- form("login").errors){
                    <div style="color: red">@error.message</div>
                }
            }
        </div>

        <div>
            <label for='@form("password").id'>Password</label>
            <input id='@form("password").id' type="password" name='@form("password").name' value='@form("password").value'>
            @if(form("password").hasErrors){
            @for(error <- form("password").errors){
            <div style="color: red">@error.message</div>
            }
            }
        </div>

        @if(form.hasGlobalErrors){
            @for(error <- form.globalErrors){
                <div style="color: red">@error.message</div>
            }
        }

        <input type="submit" value="log in">
    </form>
}